 <div class="container-lg">
    <% if flash[:alert] %>
        <div class="notice"><%= flash[:alert] %></div>
    <% end %>

    <%= bootstrap_form_for @user, url: {action: "create", controller: "sessions"} do |f|%>
        <%= f.text_field :email%> <br>
        <%=f.password_field :password%><br>
        <%=f.password_field :password_confirmation%><br>
        <%=f.submit "Login"%>
    <%end%>

    <%= link_to "Login via GitHub", "/auth/github"%>
</div>