<div class="container">
    <h2><u><%= @cocktail.name %></u></h2><br>
    <h4>Created By:</h4> <p><%= cocktail_owner(@cocktail) %></p>
    <%if @cocktail.ratings_count > 0%>
       <h4> Rated:</h4> <p><%= @cocktail.average_rating %> / 10 , by <%= @cocktail.ratings_count%> users.</p>
    <%end%>
    <h4>Directions:</h4> <p><%= @cocktail.instructions %></p>
</div>

<div class="container">   
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Quantity</th>
            <th scope="col">Ingredient</th>
            </tr>
        </thead>

        <tbody>
            <% @cocktail.cocktail_ingredients.each do |ci| %>
                <tr>
                    <% if ci.quantity%>
                        <td><%= ci.quantity %></td> 
                    <% end %>
                    <% if ci.ingredient.name%>
                        <td><%= ci.ingredient.name.capitalize %></td>
                    <% end %>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>