<% if current_path %>
    <h1>My Recipes</h1>
<% else%>
    <h1>Cocktails</h1>
<% end%>

<%= link_to "Highest Rated", favorites_path %>
 <% if flash[:alert] %>
        <div class="notice"><%= flash[:alert] %></div>
<% end %>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Average Rating</th>
      <th scope="col">Created By</th>
    </tr>
  </thead>
  <tbody>
    <% @cocktails.each do |c| %>
            
        <tr>
            <td><%= link_to c.name, cocktail_path(c)%></td>
            
            <%= cocktail_rating(c) %>

            <%= cocktail_owner(c) %>
        </tr>
            
    <%end%>
  
  </tbody>
</table>

    




