<%= render 'show'%>

<div class="container">  
    
    <% if @cocktail.user_id == current_user.id %>
        <hr>
        <a class="btn btn-primary" <%= link_to "Edit Cocktail", edit_user_cocktail_path(current_user.id, @cocktail.id)%> </a>
        <a class="btn btn-primary" <%= link_to "Delete Cocktail", user_cocktail_path(current_user.id, @cocktail), :method => :delete%> </a>
    <% elsif user_favorite(current_user, @cocktail) %>
        <h5>Saved to your <%=link_to "favorites.", user_favorites_path(current_user.id)%>
    <%else%>
        <h5>Save to Favorites:</h5>
        <hr>
        <%= bootstrap_form_for @favorite, url: user_favorites_path(current_user), method: :post do |f|%>
            <%= f.hidden_field :user_id, value:  current_user.id  %>
            <%= f.hidden_field :cocktail_id, value:  @cocktail.id  %>
            <%=f.select :rating, [1,2,3,3,4,5,6,7,8,9,10 ]%>
            <%=f.text_field :comments%>
            <%=f.submit "Save", class: 'btn btn-primary'%>
        <%end%>
        
    <% end %>

</div>