<%= @cocktail.name %><br>
Created By: <%= @user.name %><br>
Directions: <%= @cocktail.instructions %>

<table>
    <tr>
        <th>Quantity</th>
        <th>Ingredient</th>
    <tr>
    <% @cocktail.cocktail_ingredients.each do |ci| %>
        <td><%= ci.quantity %></td> 
        <td><%= ci.ingredient.name %></td>
    </tr>
    <% end %>
</table>

<% if @cocktail.user_id == current_user.id %>
    <%= link_to "Edit Cocktail", edit_user_cocktail_path(@user, @cocktail)%>
    <%= link_to "Delete Cocktail", edit_user_cocktail_path(@user, @cocktail)%>
<% else %>
    <%= link_to "Save to Favorites", new_user_favorite_path(@user)%>
<% end %>