<% if current_path %>
    <h1>My Favorites</h1>
    <%= link_to "All Cocktails", cocktails_path, class: "btn btn-primary" %>
    <%= link_to "Create New Cocktail",new_user_cocktail_path(current_user), class: "btn btn-primary"%>
<% else%>
    <h1>Top Rated</h1>
    <%= link_to "All Cocktails", cocktails_path, class: "btn btn-primary" %>
    <%= link_to "Create New Cocktail",new_user_cocktail_path(current_user), class: "btn btn-primary"%>
<% end%>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Average Rating</th>
      <th scope="col">Created By</th>
    </tr>
  </thead>
  <tbody>
    <% @favorites.each do |c| %>
        <tr>
      
            <%if current_path  %>
                <td><%= link_to highest_rated_cocktails(c).name, user_favorite_path(current_user.id, c.id)%></td>
            <%else%>
                <td><%= link_to highest_rated_cocktails(c).name, cocktail_path(c.cocktail_id)%></td>
            <%end%>
           
            <%= favorites_rating(c) %>

            <%if highest_rated_cocktails(c).user_id == current_user.id%>
                <td>Me</td>
            <%else%>
                <td><%= highest_rated_cocktails(c).user.name %></td>
            <%end%>
        </tr>
            
    <%end%>
  
  </tbody>
</table>