
<div class="container">
    <div class="form">
        <h3>Sign Up:</h3>
        <hr><br>
        <%= bootstrap_form_for @user do |f|%>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
            <%= f.text_field :email%> <br>
            <%= f.text_field :name%><br>
            <%=f.password_field :password%><br>
            <%=f.password_field :password_confirmation%><br>
            <%=f.submit "Create User", class: "btn btn-primary"%>
            <%= link_to "Cancel", root_path, class: "btn btn-primary"%>
            <%=%>
        <%end%><br>

        <h5>Sign up with:</h5>
        <a class="logo" href ="/auth/google_oauth2"> <img src= <%= image_path("g_icons.png") %>></a>
        <a class="logo" href="/auth/github"><%= octicon "mark-github", height: 64 %> </a>

    </div>
</div>
